$primary-color: #1a2b3f;
$highlitgh-menu-color: #302130;
$secondary-color: #76a0b8;
$third-color: #E0FBFC;
$fourthy-color: #EE6C4D;
$fifty-color: #33425c;
$button-color: #252e3f;
$link-color: #6a7588;