.bannerSectionProjects {
    text-align: center;
    background-image: url("/projectBanner.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    //background-blend-mode: multiply;
    //background-color: rgba(95, 68, 97, 0.212);
    padding: 13% 5% 3% 5%;

    h1 {
        font-size: 3.5rem;
        font-family: $title-font;
        color: $fourthy-color;
        text-shadow: 0.2rem 0.2rem 0.2rem black;
    }
}

.projectsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
    width: 100%;
}

.titleProjects {
    color: $third-color;
    text-align: center;
    width: 100%;
    border-bottom-color: $third-color;
    border-bottom-width: 0.18rem;
    border-bottom-style: solid;

    h2 {
        font-family: $regular-text-font;
    }
}

.projectsList {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*row-gap: 40px;
    column-gap: 40px;*/
    a {
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        text-decoration: none;
        color: $third-color;
        font-family: $regular-text-font;
    }
}

.project {
    display: flex;
    flex-direction: column;
    box-shadow: -0.5rem 0.5rem 0.6rem #0d0814;
    width: 13rem;
    height: 18rem;
}

.projectMetadataImage {
    flex: 2;
}

.projectMetadata {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1e142e;
    padding: 1rem;
    text-align: center;
    row-gap: 0.4rem;
    overflow: hidden;

    .titleProjectMini {
        font-size: 1rem;
        font-family: $title-font;
        color: $fourthy-color;
    }

    .dateProjectMini {
        font-size: 0.8rem;
        color: $link-color;
    }

    .resumeProjectMini {
        font-size: 0.95rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bannerSectionProjects {
        padding-top: 3%;
    }

    .titleProjects {
        text-align: start;
    }

    .projectsList {
        justify-content: start;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
