/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#aboutMeSection {
    text-align: center;
    margin-top: 3rem;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;

    img {
        width: 100%;
        margin-top: 1rem;
        -webkit-animation: floating 1s ease-in-out infinite alternate;
                animation: floating 1s ease-in-out infinite alternate;
    }

    a {
        display: inline-block;
        padding: 0.5rem 2rem;
        text-decoration: none;
        color: $blue;
        border: 0.2rem solid $blue;
        border-radius: 0.5rem;
        margin-top: 2rem;
    }

    h2 {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 992px) {
    #aboutMeSection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;

        .aboutMeInfo {
            width: 50%;
            text-align: start;
            line-height: 1.5;
        }

        img {
            width: 40%;
        }

        a {
            -webkit-transition: all ease-in-out 0.3s;
            -o-transition: all ease-in-out 0.3s;
            transition: all ease-in-out 0.3s;

            &:hover {
                background-color: $blue;
                color: #fff;
            }
        }
    }
}
