/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#contactMeSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;

    h2 {
        margin-bottom: 1rem;
    }

    #buttonsGroup {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 90%;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        font-size: 1rem;

        #btSim {
            color: $blue;
            text-decoration: none;
            padding: 0.5rem 3rem;
            border: 0.2rem solid $blue;
            border-radius: 0.5rem;
        }

        #btTalvez {
            color: #8a9eb1;
            text-decoration: none;
            padding: 0.1rem 1rem;
            border: 0.2rem solid #8a9eb1;
            border-radius: 0.5rem;
        }
    }

    address {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 100%;
        margin-top: 2rem;
    }

    .contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        font-style: normal;
        margin-bottom: 1rem;
        min-width: 40%;
        text-decoration: none;

        p {
            color: #fff;
        }

        .contactName {
            color: $blue;
        }
    }

    .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #000;
        background-color: #fff;
        width: 3.5rem;
        height: 3.5rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 2rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    img {
        -webkit-animation: floating 2s ease-in-out infinite alternate;
                animation: floating 2s ease-in-out infinite alternate;
    }
}

@media screen and (min-width: 992px) {
    #contactMeSection {
        margin-top: 10vh;

        #buttonsGroup {
            width: 40%;

            #btSim {
                -webkit-transition: all ease-in-out 0.3s;
                -o-transition: all ease-in-out 0.3s;
                transition: all ease-in-out 0.3s;

                &:hover {
                    background-color: $blue;
                    color: #fff;
                }
            }

            #btTalvez {
                -webkit-transition: all ease-in-out 0.3s;
                -o-transition: all ease-in-out 0.3s;
                transition: all ease-in-out 0.3s;

                &:hover {
                    background-color: #8a9eb1;
                    color: #fff;
                }
            }
        }

        .contact {
            -ms-flex-pack: distribute;
                justify-content: space-around;
            min-width: auto;
        }

        img {
            width: 50%;
        }
    }
}
