/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-2vh);
                transform: translateY(-2vh);
    }
}

@keyframes floating {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-2vh);
                transform: translateY(-2vh);
    }
}

#homeSection {
    text-align: center;
    padding-top: 1.5rem;

    h1 {
        line-height: normal;
        color: #fff;

        #nome {
            background: -webkit-linear-gradient(#514FB5, #33E0FF);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    h3 {
        margin-top: 1rem;
        line-height: normal;
        color: #fff;
        padding: 0rem 3rem;
    }

    div {
        margin-top: 2rem;
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.animatedText {
    overflow: hidden;
    width: 100%;
}

@media screen and (min-width: 992px) {

    #homeSection {
        padding-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;

        h3 {
            padding: 0;
        }

        #fotoPerfil {
            width: 80%;
        }
    }

    .animatedText {
        text-align: left;
    }
}
