footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    color: #fff;

    em {
        color: $blue;
    }
}