@keyframes menuEntrance {
    0% {
        width: 0vw;
        height: 0vh;
        padding: 0;
        display: flex;
    }
    50% {
        width: 0vw;
        height: 1vh;
        padding: 0;
        display: flex;
    }
    60% {
        width: 50vw;
        height: 1vh;
        padding: 5%;
        display: flex;
    }
    100% {
        width: 50vw;
        height: 50vh;
        padding: 5%;
        display: flex;
    }
}

@keyframes menuOut {
    0% {
        width: 50vw;
        height: 50vh;
        padding: 5%;
        display: flex;
    }
    50% {
        width: 50vw;
        height: 1vh;
        padding: 5%;
        display: flex;
    }
    60% {
        width: 0vw;
        height: 1vh;
        padding: 0;
        display: flex;
    }
    100% {
        width: 0vw;
        height: 0vh;
        padding: 0;
        display: none;
    }
}

@keyframes fade {
    from {
        font-size: 1rem;
    }
    to {
        font-size: 3rem;
    }
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
    position: fixed;
    z-index: 2;
}

#logoHeader {
    width: 15%;
    z-index: 4;
}

#menuTrigger {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    height: 12vw;
    width: 12vw;
    background-image: $main-gradient;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 5px 1px #242527;
    cursor: pointer;
    z-index: 4;
}

#nome {
    color: $main-gradient;
}

#menuMobile {
    background-image: $main-gradient;
    box-shadow: 0 0 5px 1px #242527;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    padding: 0;
    top: 9vw;
    right: 10vw;
    box-sizing: border-box;
    border-radius: 0.5rem;
    overflow-y: hidden;
    z-index: 3;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem 0;
    }
}

.activeMenu {
    display: flex;
    animation: menuEntrance 0.5s ease-in-out forwards;
}

.inactiveMenu {
    display: flex;
    animation: menuOut 0.5s ease-in-out forwards;
}

#menu {
    display: none;
}

.toTopLink {
    display: none;
}

@media screen and (min-width: 992px) {
    #menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 2vw;
        position: relative;
        width: 40vw;

        #navBar {
            width: 100%;
            height: 0.6rem;
            border-radius: 2rem;
            background-image: $main-gradient;
            background-size: cover;
            position: absolute;
            box-shadow: 0 0 0.5rem 1px #242527;
        }

        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
                color: #242527;

                .triangle {
                    background-color: #fff;
                    scale: 1.5;
                }

                .linkText {
                    background-color: #fff;
                    scale: 1.1;
                }
            }
        }

        .triangle {
            width: 0;
            height: 0;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            background-color: $blue;
            width: 0.8rem;
            height: 0.8rem;
            box-shadow: 0 0 0.5rem 1px #242527;
            z-index: 2;
            transition: all 0.3s ease-in-out;
        }

        .linkText {
            background-color: $blue;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            width: max-content;
            margin-bottom: 0;
            box-shadow: 0 0 0.5rem 1px #242527;
            z-index: 2;
            transition: all 0.3s ease-in-out;
        }
    }

    .menuItem {
        margin-top: -5rem;
    }

    #menuMobile {
        display: none;
        width: 0;
    }

    #menuTrigger {
        display: none;
        width: 0;
    }

    #logoHeader {
        width: 10%;
    }

    header {
        width: 45%;
        padding: 4% 5%;
        margin-left: 22.5%;
        position: relative;
    }

    .toTopLink {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        font-size: 2rem;
        background-image: $main-gradient;
        background-size: cover;
        border-radius: 50%;
        color: #fff;
        box-shadow: 0 0 0.5rem 1px #242527;
        z-index: 3;
        box-sizing: border-box;
        height: 4rem;
        width: 4rem;
        text-align: center;
    }
}
