.cardItem {
    height: 27vw;
    min-height: 10vw;
    width: 18vw;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cardIcon {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $third-color;
    font-size: 4vw;
    width: 100%;
    height: 50%;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.abilityValue {
    background: $third-color;
    border-radius: 30rem;
    padding: 0.4rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
    font-size: 3.2vw;
    color: $primary-color;
    font-family: $title-font;
}

.skillName {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    background: $third-color;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 50%;
    flex: 1;
    padding: 1rem;

    h3 {
        font-size: 1.9vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cardItem {
        height: 12rem;
        width: 10rem;
        margin-bottom: 40px;
        margin-right: 25px;
        margin-left: 10px;
    }
    .cardIcon {
        font-size: 3rem;
    }
    .skillName {
        h3 {
            font-size: 0.7rem;
        }
    }
    .abilityValue {
        font-size: 1.2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .skillName {
        h3 {
            font-size: 0.8rem;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
