.itemCard {
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: $third-color;
    border-width: 2px;
    width: 250px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;

    h2 {
        font-family: $title-font;
        font-size: 20px;
        color: $third-color;
    }

    .icone {
        color: $third-color;
        font-size: 30px;
    }
}
