.footer {
    background: $fifty-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $third-color;
    font-family: $regular-text-font; 
    position: relative;
    z-index: 998;
}

.topInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 3.2rem 2.4rem 3.2rem;
    row-gap: 2rem;
}

.aboutSite {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    flex: 1;
}

.aboutText {
    width: 100%;
    padding: 1.5rem;
    border-style: solid;
    border-width: 0.13rem;
    border-radius: 0.7rem;
    border-color: $third-color;
    background: $fifty-color;
    text-align: center;
    font-size: 0.8rem;
}

.socialMedia {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.9rem;
    font-size: 2rem;

    a {
        text-decoration: none;
        color: $third-color;
        display: block;
        transition: all ease-in-out 0.2s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.links {
    width: 100%;
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex: 1;

    a {
        text-decoration: none;
        font-family: $items-font;
        font-size: 0.8rem;
        display: flex;
        min-width: 15rem;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        color: $link-color;
        transition: all ease-in 0.2s;
        text-align: center;
        background: $button-color;

        &:hover {
            background: $secondary-color;
            color: $third-color;
        }
    }
}

.newsLetter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    flex: 1;

    .newsLetterText {
        text-align: center;
    }

    .newsLetterForm {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        input {
            width: 100%;
            padding: 0.8rem 1.1rem;
            border-radius: 0.3rem;
            border-style: solid;
            border-color: $third-color;
            background: $fifty-color;
            transition: all ease-in-out 0.4s;
            color: $third-color;
            font-weight: bold;

            &:focus {
                background: $third-color;
                color: $highlitgh-menu-color;
                outline: none;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 0.3rem 1.3rem;
            border-radius: 0.3rem;
            font-weight: bold;
            font-size: 0.95rem;
            color: $third-color;
            border-width: 0.15rem;
            border-style: solid;
            cursor: pointer;
            transition: all ease-in-out 0.1s;

            &:hover {
                background: $secondary-color;
                border-color: $secondary-color;
                transform: scale(1.1);
            }
        }
    }
}

.logo {
    width: 12.6rem;
    height: 5rem;
    margin-bottom: 0.8rem;
}

.bottomInfos {
    display: flex;
    padding: 0.9rem;
    background: $highlitgh-menu-color;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .topInfos {
        flex-direction: row;
        row-gap: 0;
        column-gap: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .topInfos {
        column-gap: 2rem;
    }

    .links {
        display: flex;
        overflow: visible;

        a {
            min-width: 9rem;
            font-size: 0.8rem;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .links {
        a {
            min-width: 15rem;
            font-size: 0.9rem;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
