.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $fifty-color;
    font-family: $items-font;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    position: fixed;
    z-index: 999;
}

.menu {
    display: flex;
    overflow: visible;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.icone {
    width: 2.5rem;

    span {
        width: 100%;
    }

    a {
        transition: all ease-in 0.5s;
        & :hover {
            box-shadow: 0 0 1rem rgba(255, 255, 255, 0.534);
        }
    }
}

.menuLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    background: $button-color;
    width: 40%;
    position: absolute;
    top: 4.50rem;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0;
    box-shadow: -0.2rem 0.2rem 2rem rgb(0, 0, 0);
    z-index: 998;

    div {
        width: 100%;
    }

    a {
        width: inherit;
        text-decoration: none;
        font-size: 0.75rem;
        display: block;
        padding: 1.63rem;
        color: $link-color;
        transition: all ease-in 0.2s;
        text-align: center;

        &:hover {
            background: $secondary-color;
            color: $third-color;
        }
    }
}

.menuIcon {
    font-size: 1.8rem;
    color: $link-color;
    display: block;
    overflow: visible;
    cursor: pointer;
    padding: 0.8rem;
}

.open {
    display: flex;
    overflow: hidden;
}

.closed {
    display: none;
    overflow: hidden;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navBar {
        position: relative;
        flex-direction: row;
        padding-right: 0.5rem;
    }

    .menu {
        width: unset;
    }

    .menuIcon {
        display: none;
        overflow: hidden;
    }

    .menuLinks {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: static;
        background: unset;
        width: unset;
        box-shadow: unset;

        div {
            width: auto;
        }

        a {
            width: 100%;
            text-decoration: none;
            font-size: 0.75rem;
            display: block;
            padding: 1.63rem;
            color: $link-color;
            transition: all ease-in 0.2s;
            text-align: center;

            &:hover {
                background: $secondary-color;
                color: $third-color;
            }
        }

        .icone {
            width: 0;
        }
    }

    .closed {
        display: flex;
        overflow: visible;
    }
}
