/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 0%
*/

* {
    font-family: "5Muta Sans";
    margin: 0;
    padding: 0;
}

/**, *::before, *::after {
    box-sizing: border-box;
}*/

html,
body {
    min-height: 100%;
    overflow-x: hidden;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-image: url("/images/background-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
    -moz-background-origin: left top;
         background-origin: left top;
    background-attachment: fixed;
    -moz-background-size: cover;
         background-size: cover;
    background-color: #000;
}

main {
    padding: 20% 10% 5% 10%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.caption {
    font-size: 0.8rem;
}

@media screen and (min-width: 992px) {
    main {
        padding: 0 12% 5% 12%;
    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    .caption {
        font-size: 0.8rem;
    }

    body {
        background-image: url("/images/background.png");
        background-repeat: no-repeat;
        background-position: center top;
        -moz-background-origin: left top;
             background-origin: left top;
        background-attachment: fixed;
        -moz-background-size: cover;
             background-size: cover;
        background-color: #000;
    }
}

