* {
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

body {
    background: $primary-color;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h1 {
    font-size: 3rem;
    font-family: $title-font;
}

h2 {
    font-size: 1.4rem;
    font-family: $title-font;
}

h3 {
    font-size: 1.2rem;
    font-family: $title-font;
}

p {
    font-size: 1rem;
    font-family: $regular-text-font;
}
