@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
.itemCard {
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #E0FBFC;
  border-width: 2px;
  width: 250px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.itemCard h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  color: #E0FBFC;
}

.itemCard .icone {
  color: #E0FBFC;
  font-size: 30px;
}

.footer {
  background: #33425c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E0FBFC;
  font-family: "Work Sans", sans-serif;
}

.topInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  padding: 40px 50px 0px 50px;
  gap: 60px;
}

.aboutSite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  gap: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.aboutText {
  width: 100%;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #E0FBFC;
  background: #33425c;
  text-align: center;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  font-size: 30px;
}

.socialMedia a {
  text-decoration: none;
  color: #E0FBFC;
  display: block;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.socialMedia a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.links a {
  text-decoration: none;
  font-family: "Holtwood One SC", serif;
  font-size: 12px;
  display: block;
  min-width: 150px;
  padding: 10px;
  color: #6a7588;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  text-align: center;
  background: #252e3f;
}

.links a:hover {
  background: #76a0b8;
  color: #E0FBFC;
}

.newsLetter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.newsLetter .newsLetterText {
  text-align: start;
}

.newsLetter .newsLetterForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.newsLetter .newsLetterForm input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #E0FBFC;
  background: #33425c;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  color: #E0FBFC;
  font-weight: bold;
}

.newsLetter .newsLetterForm input:focus {
  background: #E0FBFC;
  color: #302130;
  outline: none;
}

.newsLetter .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newsLetter .buttons a {
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #E0FBFC;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.newsLetter .buttons a:hover {
  background: #76a0b8;
  border-color: #76a0b8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo {
  width: 200px;
  height: 80px;
  margin-bottom: 10px;
}

.bottomInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background: #302130;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #33425c;
  font-family: "Holtwood One SC", serif;
  width: 100%;
  padding-right: 0.05rem;
  padding-left: 1rem;
  position: relative;
  z-index: 999;
}

.navBar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar .icone {
  width: 3rem;
}

.navBar .icone span {
  width: 100%;
}

.navBar .icone a {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

.navBar .icone a :hover {
  -webkit-box-shadow: 0 0 1rem rgba(255, 255, 255, 0.534);
          box-shadow: 0 0 1rem rgba(255, 255, 255, 0.534);
}

.menuLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.menuLinks a {
  text-decoration: none;
  font-size: 0.75rem;
  display: block;
  padding: 1.63rem;
  color: #6a7588;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.menuLinks a:hover {
  background: #76a0b8;
  color: #E0FBFC;
}

.menuIcon {
  font-size: 1.8rem;
  color: #6a7588;
  display: none;
  overflow: hidden;
  cursor: pointer;
}

.menuMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.menuMobile a {
  width: 100%;
  text-decoration: none;
  font-size: 0.75rem;
  display: block;
  padding: 1.63rem;
  color: #6a7588;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.menuMobile a:hover {
  background: #76a0b8;
  color: #E0FBFC;
}

@media only screen and (max-width: 600px) {
  .navBar {
    padding-right: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    padding: 0;
  }
  .menuLinks {
    display: none;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuIcon {
    padding: 0.8rem;
    display: block;
    overflow: visible;
  }
  .menuMobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #101318da;
    width: 100%;
    position: absolute;
    top: 4.5rem;
  }
  .menuMobile div {
    width: 100%;
  }
  .menuMobile a {
    color: #6a7588;
    width: inherit;
    text-align: center;
  }
  .menuMobile a:active {
    background: #76a0b8;
    color: #E0FBFC;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

body {
  background: #1a2b3f;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.mainContent {
  background-image: url("/homePageImage.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E0FBFC;
}

.mainContent a {
  color: #76b376;
  text-decoration: none;
}

.mainContent a:hover {
  color: #a6ffa6;
}

.imagemPerfil {
  width: 1000px;
}

.imagemPerfil span {
  border-radius: 30px;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

.descriptionMain {
  padding-left: 100px;
}

.descriptionMain h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 23px;
}

.descriptionMain h1 {
  font-family: "Merriweather Sans", sans-serif;
  color: #EE6C4D;
  font-size: 50px;
}

.descriptionMain p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.skills {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E0FBFC;
}

.destaque {
  color: #EE6C4D;
}

.descriptionSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E0FBFC;
}

.descriptionSkills h1 {
  color: #E0FBFC;
  font-size: 40px;
  font-family: "Merriweather Sans", sans-serif;
  border-color: #EE6C4D;
}

.descriptionSkills h2 {
  font-family: "Work Sans", sans-serif;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.abilities {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E0FBFC;
  background: #381e4e;
}

.descriptionAbilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E0FBFC;
}

.descriptionAbilities h1 {
  color: #E0FBFC;
  font-size: 40px;
  font-family: "Merriweather Sans", sans-serif;
  border-color: #EE6C4D;
}

.descriptionAbilities h2 {
  font-family: "Work Sans", sans-serif;
}

.abilitiesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.divider {
  display: block;
  width: 100%;
  height: 6px;
  background: #33425c;
}

.complementation {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(90, 33, 95, 0.603);
  background-image: url("/secondaryImage.jpg");
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #E0FBFC;
  width: 100%;
}

.descriptionPersonalProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.descriptionPersonalProjects div {
  width: 50%;
}

.descriptionPersonalProjects h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 23px;
}

.descriptionPersonalProjects h1 {
  font-family: "Merriweather Sans", sans-serif;
  color: #EE6C4D;
  font-size: 50px;
}

.descriptionPersonalProjects p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.descriptionPersonalProjects a {
  font-size: 15px;
  background: #1a2b3f;
  color: #E0FBFC;
  padding: 6px 15px 6px 15px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  font-family: "Holtwood One SC", serif;
}

.descriptionPersonalProjects a:hover {
  background: #EE6C4D;
}

.descriptionPersonalBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.descriptionPersonalBlog div {
  width: 50%;
}

.descriptionPersonalBlog h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 23px;
}

.descriptionPersonalBlog h1 {
  font-family: "Merriweather Sans", sans-serif;
  color: #EE6C4D;
  font-size: 50px;
}

.descriptionPersonalBlog p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.descriptionPersonalBlog a {
  font-size: 15px;
  background: #1a2b3f;
  color: #E0FBFC;
  padding: 6px 15px 6px 15px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  font-family: "Holtwood One SC", serif;
}

.descriptionPersonalBlog a:hover {
  background: #EE6C4D;
}

/*.line {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    border-bottom-color: rgb(255, 255, 255);;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}*/
[data-animation] {
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

[data-animation="fade-in"].animate {
  opacity: 1;
}

.contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.contato h1 {
  font-family: "Merriweather Sans", sans-serif;
  color: #EE6C4D;
  font-size: 50px;
}

.socialMediaLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
  font-size: 100px;
  margin-top: 30px;
}

.socialMediaLinks a {
  text-decoration: none;
  color: #E0FBFC;
  display: block;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.socialMediaLinks a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.bannerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-image: url("/BlogPageBanner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.bannerSection h1 {
  padding: 20px;
  font-family: "Merriweather Sans", sans-serif;
  color: #EE6C4D;
  font-size: 80px;
  text-shadow: 1px 4px 3px black;
}

.blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin-bottom: 50px;
}

.titleBlog {
  color: #E0FBFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  border-bottom-color: #E0FBFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.titleBlog h2 {
  font-family: "Work Sans", sans-serif;
}

.postList {
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

.postList a {
  text-decoration: none;
  color: #E0FBFC;
  font-family: "Work Sans", sans-serif;
}

.post {
  -webkit-box-shadow: -5px 5px 20px #0d0814;
          box-shadow: -5px 5px 20px #0d0814;
  width: 20%;
}

.post span {
  max-width: 100%;
}

.postMetadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1e142e;
  padding: 20px;
}

.postMetadata .titlePostit {
  font-family: "Merriweather Sans", sans-serif;
  margin-bottom: 5px;
  font-size: 20px;
  color: #EE6C4D;
}

.postMetadata .datePostit {
  font-size: 12px;
  color: #6a7588;
}

.postMetadata .resumePostit {
  margin-bottom: 5px;
  font-size: 15px;
}

.postBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.postTitle {
  font-family: "Merriweather Sans", sans-serif;
  margin-bottom: 20px;
  font-size: 50px;
  color: #EE6C4D;
  text-shadow: 1px 4px 3px black;
}

.postDate {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #E0FBFC;
  background: #EE6C4D;
  padding: 6px 20px 6px 20px;
}

.postContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  color: #E0FBFC;
}

.postContent h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 30px;
  color: #E0FBFC;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-color: #E0FBFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 0 0 20px 0;
}

.postContent p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.bannerSectionProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-image: url("/projectBanner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.bannerSectionProjects h1 {
  padding: 20px;
  font-family: "Merriweather Sans", sans-serif;
  color: #EE6C4D;
  font-size: 80px;
  text-shadow: 1px 4px 3px black;
}

.projectsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin-bottom: 50px;
}

.titleProjects {
  color: #E0FBFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  border-bottom-color: #E0FBFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.titleProjects h2 {
  font-family: "Work Sans", sans-serif;
}

.projectsList {
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

.projectsList a {
  text-decoration: none;
  color: #E0FBFC;
  font-family: "Work Sans", sans-serif;
}

.project {
  -webkit-box-shadow: -5px 5px 20px #0d0814;
          box-shadow: -5px 5px 20px #0d0814;
  width: 20%;
}

.project span {
  max-width: 100%;
}

.projectMetadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1e142e;
  padding: 20px;
}

.projectMetadata .titleProjectMini {
  font-family: "Merriweather Sans", sans-serif;
  margin-bottom: 5px;
  font-size: 20px;
  color: #EE6C4D;
}

.projectMetadata .dateProjectMini {
  font-size: 12px;
  color: #6a7588;
}

.projectMetadata .resumeProjectMini {
  margin-bottom: 5px;
  font-size: 15px;
}

.projectBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectTitle {
  font-family: "Merriweather Sans", sans-serif;
  margin-bottom: 20px;
  font-size: 50px;
  color: #EE6C4D;
  text-shadow: 1px 4px 3px black;
}

.projectDate {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #E0FBFC;
  background: #EE6C4D;
  padding: 6px 20px 6px 20px;
}

.projectContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  color: #E0FBFC;
}

.projectContent h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 30px;
  color: #E0FBFC;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-color: #E0FBFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 0 0 20px 0;
}

.projectContent p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}
/*# sourceMappingURL=styles.css.map */