* {
  font-family: "5Muta Sans";
  margin: 0;
  padding: 0;
}

/**, *::before, *::after {
    box-sizing: border-box;
}*/
html, body {
  min-height: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url("/images/background-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 102%;
}

main {
  padding: 20% 10% 5% 10%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.caption {
  font-size: 0.8rem;
}

@font-face {
  font-family: "5Muta Sans";
  src: url("/fonts/5muta_sans.ttf") format("truetype");
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  position: fixed;
  z-index: 2;
}

#logoHeader {
  width: 15%;
}

#menuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  height: 3rem;
  width: 3rem;
  background-image: linear-gradient(to top right, #514FB5, #33E0FF);
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 0 5px 1px #242527;
  cursor: pointer;
}

#nome {
  color: linear-gradient(to top right, #514FB5, #33E0FF);
}

#menuMobile {
  display: none;
}

#menu {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  color: #fff;
}
footer em {
  color: #33E0FF;
}

.carouselSection {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}
.carouselSection h2 {
  line-height: normal;
}

.carouselProject {
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("/images/background-carrossel-mobile.png");
  background-size: cover;
  overflow-x: hidden;
}

.carouselPanelProject {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /*justify-content: center;*/
  position: absolute;
  left: 15vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.4s ease-in-out;
}
.carouselPanelProject img {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 30vw;
  height: 30vw;
}

.carouselButtonsProject {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.carouselButtonsProject div {
  width: 15vw;
  height: 15vw;
  display: inline-block;
  cursor: pointer;
}
.carouselButtonsProject .leftButtonProject {
  background-image: url("/images/button-left.png");
  background-size: cover;
}
.carouselButtonsProject .rightButtonProject {
  background-image: url("/images/button-right.png");
  background-size: cover;
}

#homeSection {
  text-align: center;
  padding-top: 1.5rem;
}
#homeSection h1 {
  line-height: normal;
  color: #fff;
}
#homeSection h1 #nome {
  background: -webkit-linear-gradient(#514FB5, #33E0FF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#homeSection h3 {
  margin-top: 1rem;
  line-height: normal;
  color: #fff;
  padding: 0rem 3rem;
}
#homeSection img {
  margin-top: 2rem;
  width: 100%;
}

#skillsSection {
  text-align: center;
  margin-top: 1rem;
}
#skillsSection h2 {
  line-height: normal;
  color: #fff;
}
#skillsSection h2 b {
  background: -webkit-linear-gradient(#514fb5, #33e0ff);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
#skillsSection h2 span {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
  margin: 0rem 1rem;
  transform: rotate(45deg);
}

#carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fighters {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#carouselPanel {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#carouselButtons {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
#carouselButtons div {
  width: 15vw;
  height: 15vw;
  display: inline-block;
  cursor: pointer;
}
#carouselButtons .leftButton {
  background-image: url("/images/button-left.png");
  background-size: cover;
}
#carouselButtons .rightButton {
  background-image: url("/images/button-right.png");
  background-size: cover;
}

#fighterDescriptionPanel {
  width: 100%;
  background-image: linear-gradient(to top right, #514FB5, #33E0FF);
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
#fighterDescriptionPanel h3 {
  margin-bottom: 1.5rem;
}
#fighterDescriptionPanel div {
  display: none;
}
#fighterDescriptionPanel .active {
  display: block;
}

#aboutMeSection {
  text-align: center;
  margin-top: 3rem;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
}
#aboutMeSection img {
  width: 100%;
  margin-top: 1rem;
}
#aboutMeSection a {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #33E0FF;
  border: 0.2rem solid #33E0FF;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
#aboutMeSection h2 {
  margin-bottom: 2rem;
}

#projectsSection {
  margin-top: 4rem;
  text-align: center;
}
#projectsSection h2 {
  margin-bottom: 1.5rem;
}

#contactMeSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#contactMeSection h2 {
  margin-bottom: 1rem;
}
#contactMeSection #buttonsGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 90%;
  justify-content: space-evenly;
  font-size: 1rem;
}
#contactMeSection #buttonsGroup #btSim {
  color: #33E0FF;
  text-decoration: none;
  padding: 0.5rem 3rem;
  border: 0.2rem solid #33E0FF;
  border-radius: 0.5rem;
}
#contactMeSection #buttonsGroup #btTalvez {
  color: #8a9eb1;
  text-decoration: none;
  padding: 0.1rem 1rem;
  border: 0.2rem solid #8a9eb1;
  border-radius: 0.5rem;
}
#contactMeSection address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2rem;
}
#contactMeSection .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: normal;
  margin-bottom: 1rem;
  min-width: 40%;
}
#contactMeSection .contactName {
  color: #33E0FF;
}
#contactMeSection .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */