* {
  font-family: "5Muta Sans";
  margin: 0;
  padding: 0;
}

/**, *::before, *::after {
    box-sizing: border-box;
}*/
html,
body {
  min-height: 100%;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url("/images/background-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 102%;
}

main {
  padding: 20% 10% 5% 10%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.caption {
  font-size: 0.8rem;
}

@media screen and (min-width: 992px) {
  main {
    padding: 0 12% 5% 12%;
  }
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
  }
  .caption {
    font-size: 0.8rem;
  }
  body {
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 102%;
  }
}
@font-face {
  font-family: "5Muta Sans";
  src: url("/fonts/5muta_sans.ttf") format("truetype");
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@keyframes menuEntrance {
  0% {
    width: 0vw;
    height: 0vh;
    padding: 0;
    display: flex;
  }
  50% {
    width: 0vw;
    height: 1vh;
    padding: 0;
    display: flex;
  }
  60% {
    width: 50vw;
    height: 1vh;
    padding: 5%;
    display: flex;
  }
  100% {
    width: 50vw;
    height: 50vh;
    padding: 5%;
    display: flex;
  }
}
@keyframes menuOut {
  0% {
    width: 50vw;
    height: 50vh;
    padding: 5%;
    display: flex;
  }
  50% {
    width: 50vw;
    height: 1vh;
    padding: 5%;
    display: flex;
  }
  60% {
    width: 0vw;
    height: 1vh;
    padding: 0;
    display: flex;
  }
  100% {
    width: 0vw;
    height: 0vh;
    padding: 0;
    display: none;
  }
}
@keyframes fade {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 3rem;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  position: fixed;
  z-index: 2;
}

#logoHeader {
  width: 15%;
  z-index: 4;
}

#menuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  height: 12vw;
  width: 12vw;
  background-image: linear-gradient(to top right, #514FB5, #33E0FF);
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 0 5px 1px #242527;
  cursor: pointer;
  z-index: 4;
}

#nome {
  color: linear-gradient(to top right, #514FB5, #33E0FF);
}

#menuMobile {
  background-image: linear-gradient(to top right, #514FB5, #33E0FF);
  box-shadow: 0 0 5px 1px #242527;
  flex-direction: column;
  width: 0vw;
  height: 0vh;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  padding: 0;
  top: 9vw;
  right: 10vw;
  box-sizing: border-box;
  border-radius: 0.5rem;
  overflow-y: hidden;
  z-index: 3;
  color: #fff;
}
#menuMobile a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
}

.activeMenu {
  display: flex;
  animation: menuEntrance 0.5s ease-in-out forwards;
}

.inactiveMenu {
  display: flex;
  animation: menuOut 0.5s ease-in-out forwards;
}

#menu {
  display: none;
}

.toTopLink {
  display: none;
}

@media screen and (min-width: 992px) {
  #menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2vw;
    position: relative;
    width: 40vw;
  }
  #menu #navBar {
    width: 100%;
    height: 0.6rem;
    border-radius: 2rem;
    background-image: linear-gradient(to top right, #514FB5, #33E0FF);
    background-size: cover;
    position: absolute;
    box-shadow: 0 0 0.5rem 1px #242527;
  }
  #menu a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #menu a:hover {
    color: #242527;
  }
  #menu a:hover .triangle {
    background-color: #fff;
    scale: 1.5;
  }
  #menu a:hover .linkText {
    background-color: #fff;
    scale: 1.1;
  }
  #menu .triangle {
    width: 0;
    height: 0;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #14b9d6;
    width: 0.8rem;
    height: 0.8rem;
    box-shadow: 0 0 0.5rem 1px #242527;
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
  #menu .linkText {
    background-color: #14b9d6;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 0;
    box-shadow: 0 0 0.5rem 1px #242527;
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
  .menuItem {
    margin-top: -5rem;
  }
  #menuMobile {
    display: none;
    width: 0;
  }
  #menuTrigger {
    display: none;
    width: 0;
  }
  #logoHeader {
    width: 10%;
  }
  header {
    width: 45%;
    padding: 4% 5%;
    margin-left: 22.5%;
    position: relative;
  }
  .toTopLink {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    background-image: linear-gradient(to top right, #514FB5, #33E0FF);
    background-size: cover;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 1rem 0 #000;
    z-index: 3;
    box-sizing: border-box;
    height: 4rem;
    width: 4rem;
    text-align: center;
    transition: all ease-in-out 0.2s;
    scale: 1;
  }
  .toTopLink:hover {
    scale: 1.1;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  color: #fff;
}
footer em {
  color: #14b9d6;
}

.gallerySection {
  margin-top: 3rem;
}
.gallerySection h2 {
  color: #fff;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-decoration: none;
}
.gallery .itemProject {
  margin-top: 2rem;
  border-radius: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.gallery .projectCaption {
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: rgba(40, 84, 92, 0.5490196078);
  display: block;
}

@media screen and (min-width: 992px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .gallery .itemProject {
    width: 45%;
  }
  .gallery .itemProject:hover .projectCaption {
    opacity: 1;
  }
  .gallery .projectCaption {
    background-color: rgba(40, 84, 92, 0.6862745098);
    transition: all ease-in-out 0.5s;
    opacity: 0;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2vh);
  }
}
#homeSection {
  text-align: center;
  padding-top: 1.5rem;
}
#homeSection h1 {
  line-height: normal;
  color: #fff;
}
#homeSection h1 #nome {
  background: -webkit-linear-gradient(#514FB5, #33E0FF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#homeSection h3 {
  margin-top: 1rem;
  line-height: normal;
  color: #fff;
  padding: 0rem 3rem;
}
#homeSection div {
  margin-top: 2rem;
  width: 100%;
}
#homeSection img {
  width: 100%;
}

.animatedText {
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 992px) {
  #homeSection {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #homeSection h3 {
    padding: 0;
  }
  #homeSection #fotoPerfil {
    width: 80%;
  }
  .animatedText {
    text-align: left;
  }
}
#skillsSection {
  text-align: center;
  margin-top: 1rem;
}
#skillsSection h2 {
  line-height: normal;
  color: #fff;
}
#skillsSection h2 b {
  background: -webkit-linear-gradient(#514fb5, #33e0ff);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
#skillsSection h2 span {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
  margin: 0rem 1rem;
  transform: rotate(45deg);
}

#carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fighters {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#carouselPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.4s ease-in-out;
  box-sizing: border-box;
}
#carouselPanel img {
  width: 80vw;
  animation: floating 1s ease-in-out infinite alternate;
}

#carouselButtons {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
#carouselButtons div {
  width: 15vw;
  height: 15vw;
  display: inline-block;
  cursor: pointer;
}
#carouselButtons .leftButton {
  background-image: url("/images/button-left.png");
  background-size: cover;
}
#carouselButtons .rightButton {
  background-image: url("/images/button-right.png");
  background-size: cover;
}

#fighterDescriptionPanel {
  width: 100%;
  background-image: linear-gradient(to top right, #514FB5, #33E0FF);
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
#fighterDescriptionPanel h3 {
  margin-bottom: 1.5rem;
}
#fighterDescriptionPanel div {
  display: none;
}
#fighterDescriptionPanel .active {
  display: block;
}

@media screen and (min-width: 992px) {
  #carousel {
    flex-direction: row;
    justify-content: space-around;
  }
  #fighters {
    width: 50%;
    overflow-x: hidden;
  }
  #carouselPanel img {
    width: 38vw;
  }
  #carouselButtons div {
    width: 5vw;
    height: 5vw;
  }
  #fighterDescriptionPanel {
    padding: 2rem 3rem;
    width: 40%;
    min-height: 70vh;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
#aboutMeSection {
  text-align: center;
  margin-top: 3rem;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
}
#aboutMeSection img {
  width: 100%;
  margin-top: 1rem;
  animation: floating 1s ease-in-out infinite alternate;
}
#aboutMeSection a {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #14b9d6;
  border: 0.2rem solid #14b9d6;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
#aboutMeSection h2 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  #aboutMeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #aboutMeSection .aboutMeInfo {
    width: 50%;
    text-align: start;
    line-height: 1.5;
  }
  #aboutMeSection img {
    width: 40%;
  }
  #aboutMeSection a {
    transition: all ease-in-out 0.3s;
  }
  #aboutMeSection a:hover {
    background-color: #14b9d6;
    color: #fff;
  }
}
#projectsSection {
  margin-top: 4rem;
  text-align: center;
}
#projectsSection h2 {
  margin-bottom: 1.5rem;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
#contactMeSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#contactMeSection h2 {
  margin-bottom: 1rem;
}
#contactMeSection #buttonsGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 90%;
  justify-content: space-evenly;
  font-size: 1rem;
}
#contactMeSection #buttonsGroup #btSim {
  color: #14b9d6;
  text-decoration: none;
  padding: 0.5rem 3rem;
  border: 0.2rem solid #14b9d6;
  border-radius: 0.5rem;
}
#contactMeSection #buttonsGroup #btTalvez {
  color: #8a9eb1;
  text-decoration: none;
  padding: 0.1rem 1rem;
  border: 0.2rem solid #8a9eb1;
  border-radius: 0.5rem;
}
#contactMeSection address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2rem;
}
#contactMeSection .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: normal;
  margin-bottom: 1rem;
  min-width: 40%;
  text-decoration: none;
}
#contactMeSection .contact p {
  color: #fff;
}
#contactMeSection .contact .contactName {
  color: #14b9d6;
}
#contactMeSection .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
#contactMeSection img {
  animation: floating 2s ease-in-out infinite alternate;
}

@media screen and (min-width: 992px) {
  #contactMeSection {
    margin-top: 10vh;
  }
  #contactMeSection #buttonsGroup {
    width: 40%;
  }
  #contactMeSection #buttonsGroup #btSim {
    transition: all ease-in-out 0.3s;
  }
  #contactMeSection #buttonsGroup #btSim:hover {
    background-color: #14b9d6;
    color: #fff;
  }
  #contactMeSection #buttonsGroup #btTalvez {
    transition: all ease-in-out 0.3s;
  }
  #contactMeSection #buttonsGroup #btTalvez:hover {
    background-color: #8a9eb1;
    color: #fff;
  }
  #contactMeSection .contact {
    justify-content: space-around;
    min-width: auto;
  }
  #contactMeSection img {
    width: 50%;
  }
}/*# sourceMappingURL=styles.css.map */